In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
titanic = sns.load_dataset('titanic')
titanic.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

In [4]:
selected_cols_titanic = titanic[['sex','alive','age','class']]
selected_cols_titanic.head()

      sex alive   age  class
0    male    no  22.0  Third
1  female   yes  38.0  First
2  female   yes  26.0  Third
3  female   yes  35.0  First
4    male    no  35.0  Third

In [5]:
ml_titanic = pd.get_dummies(selected_cols_titanic[['sex','alive','class']])
ml_titanic.head()

   sex_female  sex_male  alive_no  ...  class_First  class_Second  class_Third
0           0         1         1  ...            0             0            1
1           1         0         0  ...            1             0            0
2           1         0         0  ...            0             0            1
3           1         0         0  ...            1             0            0
4           0         1         1  ...            0             0            1

[5 rows x 7 columns]

In [15]:
from sklearn.linear_model import LogisticRegression

In [16]:
X = ml_titanic.drop(['alive_no',	'alive_yes'], axis=1)
y = ml_titanic['alive_yes']

model = LogisticRegression(solver='liblinear')
model.fit(X, y)

LogisticRegression(solver='liblinear')

In [17]:
model.score(X, y)

0.7867564534231201

In [33]:
model.predict([X[2,:]])

TypeError: ignored

In [25]:
X.loc[2]

sex_female      1
sex_male        0
class_First     0
class_Second    0
class_Third     1
Name: 2, dtype: uint8